@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    max-width: 100vw;
}
body{
    background-color: #1f1e34;
}
:root{

    --primary-color:#01B0D3;
    --secondary-color:#242333;
}
header{
    background-image: url('https://assets.morningconsult.com/wp-uploads/2022/05/04145840/GettyImages-163296518-scaled.jpg');
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: var(--secondary-color);
    align-content: space-between;
    justify-content: space-between;
    height: 100vh;
    box-shadow:  0px 10px 100px black;
    
}

.header_card{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0px 20px ;
}
#title_name{
    color: white;
    text-align: right;
}
#discription_text{
    padding-top: 20px;
    color: white;
    text-align: right;
}

.container{
    box-shadow: 0px -10px 100px black;
}
.titlebar{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;

}
.navi{
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    color: #01B0D3;
}
.navi p:hover{

    color: white;
    cursor: pointer;
}










#search{
    
    padding: 10px;
    outline: 1px solid white;
    border-radius: 10px;
    outline: 0;
    border: 1px solid rgba(255, 255, 255, 0.315);
    background-color: #1f1e3456;
    color: white;
    
    margin-left: 20%;
    width: 75%;
    word-spacing: 5px;
    letter-spacing: 1px;
    
}
#search:hover{

    border: 0;
    outline: 0;
   background-color: #01B0D3;
    color: black;
}
#search::placeholder{

    color: rgba(255, 255, 255, 0.598);
}

#popular_text{

    background-image: linear-gradient(45deg, var(--primary-color)60%,white);
    background-size: 100%;
    margin-left: 20px;
    margin-top: 20px;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-weight: bolder;
    
}

.container{
    padding-top: 50px;
}

main{
    display: flex;
    overflow-x: auto;
    padding: 10px;
    overflow-y: hidden;
    margin-bottom: 30px;
    letter-spacing: 1px;
    color: white;
    font-size: 10px;

    
    
}

.movie{
  
    
    width: 250px;
    height: 400px;
    margin: 0 5px;
    background-color: transparent;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
   
   
}

::-webkit-scrollbar {
    width: 10px;
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent 
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 20px;
    background:linear-gradient(90deg,#01B0D3,#1f1e34);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
    
  }

.movie img{
    
    border-radius: 20px 20px;
    width: 200px;
    height: 300px;

}

.movie-info{
    font-size: 10px;
    margin-bottom: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    letter-spacing: 1px;
    position: relative;
    
}
.movie-info h3{

margin-top:0 ;

}
.movie-info span{

    position: absolute;
   width: 40px;
   height: 40px;
    top: -30px;
    left: 150px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.movie-info span.green{

    background-color:var(--secondary-color);
    border: solid 3px rgba(127, 255, 212);

    
}

.movie-info span.orange{
    background-color:var(--secondary-color);
    border: solid 3px rgba(255, 166, 0, 0.562) ;
   
}

.movie-info span.red{
    background-color:var(--secondary-color);
    border: solid 3px rgba(255, 0, 0, 0.651)  ;
    
}

.overview{

    position:absolute;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: transparent;
    padding: 1rem;
    max-height: 100%;
    transform: translateY(101%);
    transition:transform 0.5s ease-in;
    color: transparent;
   
    
    

}
/* .movie:hover .overview h3{

    color: #01B0D3;
}


.movie:hover .overview{
    background-color: #1f1e34;
    box-shadow: inset -5px -5px 10px rgba(0, 0, 0, 0.187);
    color: white;
    row-gap: 10px;
    font-size: 10px;
    display: flex;
    transform: translateY(0%);
    flex-direction: column;
    border-radius: 20px 20px;
    transition:transform 0.3s ease-in;
    
} */

.titletext {
   
    background-image: linear-gradient(45deg, #01B0D3,white);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    font-size: 25px;
    letter-spacing: 5px;
    font-weight: bolder;
    
}

footer{

    height: 200px;
    border-radius: 20px 20px 0px 0px ;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.523);
}